<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <div class="nav-logo">
          <img class="nav-img" src="{{ "/assets/logo.png" | relative_url }}" />  
        </div>
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ site.baseurl }}/">Posts</a></li>
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
          &copy; <time datetime="2018-06-16 14:58:11 +0900">2018</time> <a href="https://github.com/deepsight/">Deepsight</a>.
      </span>
    </footer>
  </body>
</html>
